body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-smi: 13px;
  --font-size-3xs: 10px;
  --font-size-sm: 14px;
  --font-size-4xs: 9px;
  --font-size-base: 16px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --muted: #d9d9d9;
  --color-black: #000;
  --edf2f7: #edf2f7;
  --color-darkolivegreen: #3a5b22;
  --color-mediumblue: #0f3dde;
  --color-whitesmoke: #f5f5f5;
  --action-sec: #0c2a92;

  /* Gaps */
  --gap-3xs: 10px;

  /* Paddings */
  --padding-45xl: 64px;
  --padding-9xs: 4px;
  --padding-xl: 20px;
  --padding-3xs: 10px;
  --padding-10xs: 3px;

  /* Border radiuses */
  --br-26xl: 45px;
  --br-3xs: 10px;
  --br-11xs: 2px;
}
