body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-4xs: 9px;
  --font-size-3xs: 10px;
  --font-size-smi: 13px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --action-sec: #0c2a92;
  --color-darkolivegreen: #3a5b22;
  --muted: #d9d9d9;
  --edf2f7: #edf2f7;

  /* Paddings */
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-26xl: 45px;
  --br-3xs: 10px;
}
