.frame-child {
  position: absolute;
  top: 8px;
  left: -1px;
  border-top: 2px solid #f5f5f5;
  box-sizing: border-box;
  width: 402px;
  height: 2px;
}
.or {
  position: relative;
  font-weight: 500;
}
.or-wrapper {
  position: absolute;
  top: 0;
  left: 191px;
  background-color: var(--color-white);
  width: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
  box-sizing: border-box;
}
.line-parent {
  position: absolute;
  top: 632px;
  left: 175px;
  width: 400px;
  height: 14px;
  font-size: 9px;
  color: #000;
}
.home-child {
  position: absolute;
  top: 57px;
  left: 0;
  width: 1657px;
  height: 484px;
  object-fit: cover;
}
.home-inner,
.home-item {
  position: absolute;
  top: 56px;
  left: -36px;
  background-color: rgba(33, 1, 1, 0.89);
  width: 574px;
  height: 485px;
}
.home-inner {
  left: 538px;
  background-color: rgba(33, 1, 1, 0.35);
  width: 993px;
}
.home-child1,
.rectangle-div {
  position: absolute;
  top: 32px;
  height: 64px;
}
.rectangle-div {
  left: calc(50% - 664px);
  background-color: var(--color-white);
  box-shadow: -13px 21px 17px rgba(0, 0, 0, 0.25);
  width: 1328px;
}
.home-child1 {
  left: 104px;
  background-color: var(--color-green);
  width: 195px;
}
.home1 {
  position: absolute;
  top: 44px;
  left: 160px;
  color: var(--color-white);
}
.about,
.contact-us,
.faqs {
  text-decoration: none;
  position: absolute;
  top: 45px;
  left: 536px;
  font-weight: 700;
  color: inherit;
}
.contact-us,
.faqs {
  top: 44px;
  left: 817px;
}
.faqs {
  top: 45px;
  left: 1166px;
}
.plant {
  margin: 0;
}
.span {
  color: #f9e445;
}
.plant-health-container {
  position: absolute;
  top: 168px;
  left: 29px;
  font-size: 141px;
  line-height: 131px;
  color: var(--color-white);
}
.recommendation {
  /* position: absolute; */
  /* top: 745px;
  left: calc(50% - 204px); */
  font-size: 42px;
  line-height: 131px;
}
.home-child2,
.home-child3 {
  position: absolute;
  top: 565px;
  left: calc(50% - 450px);
  border-radius: var(--br-19xl);
  background-color: var(--color-white);
  border: 3px dashed var(--color-green);
  box-sizing: border-box;
  width: 899px;
  height: 143px;
}
.home-child3 {
  top: 857px;
  left: calc(50% - 336px);
  width: 673px;
  height: 149px;
}
.vec-icon {
  position: absolute;
  top: 0;
  left: 295px;
  width: 65px;
  height: 64px;
  object-fit: cover;
}
.upload-your-image,
.vec-parent {
  position: absolute;
  top: 11px;
  left: 0;
}
.vec-parent {
  top: 606px;
  left: 579px;
  width: 360px;
  height: 64px;
  color: var(--color-blueviolet);
}
.home-child4,
.rectangle-button {
  position: absolute;
  border-radius: var(--br-sm);
}
.home-child4 {
  top: 723px;
  left: calc(50% - 67px);
  background-color: var(--color-blueviolet);
  width: 126px;
  height: 44px;
}
.rectangle-button {
  cursor: pointer;
  border: 1px solid var(--color-blueviolet);
  padding: 0;
  background-color: transparent;
  /* top: 720px; */
  /* left: calc(50% - 72px); */
  box-sizing: border-box;
  /* width: 135px;
  height: 50px; */
}
.submit {
  position: absolute;
  top: 723px;
  left: calc(50% - 55px);
  color: var(--color-white);
}
.home {
  position: relative;
  background-color: #eeffe1;
  width: 100%;
  height: 1042px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-8xl);
  color: var(--color-green);
  font-family: var(--font-poppins);
}
