.welcome-back {
  position: relative;
  font-weight: 500;
}
.welcome-back-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 53.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 32px;
}

.enter-your-credentials {
  position: absolute;
  top: 53.1px;
  left: 0;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  width: 372px;
  height: 26.55px;
}
.name-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child {
  border-radius: var(--br-3xs);
  border: 1px solid var(--muted);
  box-sizing: border-box;
  width: 404px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-group {
  position: absolute;
  top: 111.73px;
  left: 0;
  width: 404px;
  height: 57.53px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-smi);
}
.frame-container,
.instance-child {
  width: 404px;
  display: flex;
  justify-content: flex-start;
}
.instance-child {
  border: 1px solid var(--muted);
  font-weight: 500;
  font-family: var(--font-poppins);
  font-size: var(--font-size-3xs);
  background-color: transparent;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) 0 var(--padding-3xs) var(--padding-3xs);
}
.frame-container {
  position: absolute;
  top: 139.39px;
  left: 0;
  height: 58.63px;
  flex-direction: column;
  align-items: flex-start;
}
.name2 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 217.93px;
  left: 0;
  width: 404px;
  height: 58.63px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.remember-for-30 {
  position: absolute;
  top: 0;
  left: 15px;
  font-weight: 500;
  display: inline-block;
  width: 104px;
  height: 15.49px;
}
.group-child {
  position: absolute;
  top: 2.21px;
  left: 0;
  border-radius: 2px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 9px;
  height: 9.96px;
}
.remember-for-30-days-parent {
  position: absolute;
  top: 296.48px;
  left: 0;
  width: 119px;
  height: 15.49px;
  font-size: var(--font-size-4xs);
}
.sign-up {
  color: #0f3dde;
}
.dont-have-an-container {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 229px;
  height: 23.23px;
}
.dont-have-an-account-sign-up-wrapper {
  position: absolute;
  top: 559.77px;
  left: 93px;
  width: 229px;
  height: 23.23px;
}
.name3 {
  position: relative;
  font-weight: 500;
  display: none;
}
.name-wrapper1,
.name-wrapper2 {
  flex-direction: row;
  align-items: flex-start;
}
.name-wrapper1 {
  display: none;
  justify-content: flex-start;
}
.name-wrapper2 {
  display: flex;
  justify-content: center;
}
.frame-div,
.frame-wrapper {
  width: 404px;
  display: flex;
  justify-content: flex-start;
}
.frame-wrapper {
  border-radius: var(--br-3xs);
  background-color: var(--color-darkolivegreen);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) 0 var(--padding-3xs) var(--padding-3xs);
  font-size: var(--font-size-3xs);
  color: var(--muted);
}
.frame-div {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.forgot-password,
.instance-parent {
  position: absolute;
  top: 331.88px;
  left: 0;
  width: 404px;
  height: 35.4px;
}
.forgot-password {
  text-decoration: none;
  top: 217.93px;
  left: 317px;
  font-size: var(--font-size-3xs);
  font-weight: 500;
  color: var(--action-sec);
  display: inline-block;
  width: 83px;
  height: 16.59px;
}
.frame-parent {
  position: relative;
  width: 404px;
  height: 583px;
}
.log-in-inner {
  position: absolute;
  top: 230px;
  left: 175px;
  height: 583px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-item {
  position: absolute;
  top: 8px;
  left: -1px;
  border-top: 2px solid #f5f5f5;
  box-sizing: border-box;
  width: 402px;
  height: 2px;
}
.or {
  position: relative;
  font-size: var(--font-size-4xs);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
}
.or-wrapper {
  position: absolute;
  top: 0;
  left: 191px;
  background-color: var(--color-white);
  width: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
  box-sizing: border-box;
}
.line-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 632px;
  left: 175px;
  width: 400px;
  height: 14px;
}
.image {
  position: absolute;
  /* top: 0; */
  left: 754px;
  border-radius: var(--br-26xl) 0 0 var(--br-26xl);
  width: 781.5px;
  height: 1042px;
  object-fit: cover;
}


.login {
  border-radius: var(--br-3xs);
  background-color: var(--color-darkolivegreen);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  width: max-content;
  height: fit-content;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  cursor: pointer; /* Added cursor property for better user feedback */
  padding: 10px 15px;
  border-radius: 5px; /* Added border-radius for rounded corners */
}

/* Added a hover effect for better user interaction */
.login:hover {
  background-color: #0c2cb8;
}
